@import url("../../index.css");
@import "@fontsource/sour-gummy/500.css"; /* Light */

.container {
  margin-top: 100px;
  font-family: "Sour Gummy";
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  overflow-x: hidden;
  overflow: hidden;
  align-items: stretch;
  height: 85vh;
}

.leftSide {
  padding-left: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  width: 100%;
  gap: 10px;
  margin-right: -10vw;
  color: var(--blue-color);
  overflow-y: auto;
  padding-right: 15px;
}
.registerForm {
  position: relative;
  gap: 0;
}
.registerForm form {
  margin: 0 !important;
  margin-top: 10px !important;
}
.registerForm input {
  max-height: 50px !important;
}
.registerForm h2 {
  font-size: 2rem !important;
}
.registerForm .signButton {
  max-height: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftSide h2 {
  font-size: 2.5rem;
}
.leftSide form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.registerForm form {
  gap: 20px;
}
.leftSide form div {
  display: flex;
  flex-direction: column;
}
.leftSide form input {
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid black;
}
.leftSide form input:focus {
  border: none;
  outline: 3px solid var(--primary-color);
}
.leftSide form input:focus + label {
  color: var(--primary-color);
}
.leftSide label {
  margin-left: 2px;
  color: black;
}
.leftSide label i {
  color: black;
}
.tripleInp {
  display: flex;
  flex-direction: row !important;
  gap: 10px;
}
.tripleInp
  div:nth-last-child(1)
  input[type="number"]::-webkit-inner-spin-button,
.tripleInp
  div:nth-last-child(1)
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.signButton:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.signButton::before {
  background-color: white;
}
.linkSpam {
  font-size: 16px;
}
.linkSpam a {
  color: var(--blue-color);
  text-decoration: underline;
  transition: 0.1s;
}
.linkSpam a:hover {
  color: var(--primary-color);
}

.rightSide {
  flex-direction: column;
  text-align: center;
  display: flex;
  width: 75vw; /* Try different sizes */
  margin-right: -15vw;
  color: var(--primary-color);
  font-size: 2rem;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.svgContainer svg {
  position: relative !important;
  width: 100% !important;
}
.signButton {
  max-width: 200px;
  text-align: center;
  border: 2px dashed var(--blue-color);
  margin-bottom: -10px;
}

/*  */
.inputRed {
  color: red !important;
}

.forgetPassword {
  color: var(--primary-text-color);
}
.resetPassword {
  color: var(--blue-color);
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}
.resetPassword:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .rightSide {
    display: none;
  }
  .container {
    margin-top: 100px;
    font-family: "Sour Gummy";
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2vw;
    align-items: center;
    height: 100%;
  }

  .leftSide {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 50%;
    gap: 10px;
    color: var(--blue-color);
    overflow-y: auto;
    padding-right: 15px;
  }
}

@media (max-width: 800px) {
  .leftSide {
    width: 80%;
  }
}
