@import "@fontsource/sour-gummy";
@import "@fontsource/dm-serif-text";
@import "@fontsource/roboto-flex";
@import url("../../index.css");

.orderContainer {
  margin-top: 90px;
}

/* order quantity */
.orderCount {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.orderCount h2 {
  display: flex;
  align-items: center;
}
.orderCount h2 span {
  color: var(--primary-color);
  font-weight: bolder;
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 1.2rem;
}

/* --orders */
.orders {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}
.orders img {
  max-width: 150px;
  border-radius: 5px;
}
/* -order */
.orderCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  padding-bottom: 20px;
}
.orderHeader {
  width: 100%;
  display: flex;
  background-color: rgb(230, 230, 230);
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}
.itemCard {
  font-family: "Sour Gummy";
  display: flex;
  width: 100% !important;
  justify-content: start;
  gap: 30px;
  alignment-baseline: center;
  padding: 20px;
}

/* :root {
  --primary-color: #f1641e;
  --primary-hover-color: #ed6521;
  --primary-light-hover-color: #ed65218b;
  --primary-text-color: #222;
  --white-btn-color: #ffffff;
  --white-btn-hover-color: #0e0e0e17;
  --linked-btn-hover-color: #ccebff;
  --blue-color: navy;
  --gradient-color:  linear-gradient(to right, #f1641e, navy)
  --light-blue: #61aaff;
  --teal: #0d8b8b;
  --soft-yellow: #ffef80;
  --light-grey: #d3d3d3;
  --dark-grey: #444444;
  --aqua-blue: #00bcd4;
  --soft-white: #f8f8f8;
  --color-realBlue: #2979ff;
} */
